@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #100f14;
  --color-accent-purple: #a855f7;
  --color-accent-pink: #ec4899;
  --color-accent-cyan: #06b6d4;

  --font-heading: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply bg-background text-zinc-200 font-sans antialiased selection:bg-accent-pink selection:text-white;
    margin: 0;
    padding: 0;
  }
}
